.gameHeading
{
  color: #5882FA;
  font-size:10.0em;
  opacity:0.7;
  font-weight:bold;
  float:right;
  margin-right:0.3em;
}

.gameTagLine{
  font-size:3em;
  font-weight:normal;
  line-height:0.9;
  text-align:right;
  float:right;
  margin-right:1em;
  color:white;
}
.activateBtn
{
  cursor:pointer;
  text-align:right;
  float:right;
  margin-right:1em;
  margin-top:10em;
  width:18em;
}