.phaseContainer
{
  margin-top:10%;
}

.initText
{
  font-size:5.8em;
  color:white;
 
}

.phase1Container
{
 
  
 
  height:100%;
  width:100%;
  position:relative;
  
}
#bikeImage
{
  position:absolute;
  
  width:100%;
  top:0;
  left:0;
}

.formElm
{
  position:absolute;
  top:0;
  left:0;
}

.phase1oInstr
{
  font-weight:bold;
  font-size:1.6em;
  line-height:1.05;
  color:white;
}

.totalPoints
{
  padding: 5%;
  font-size:3.0em;
  background:#3B170B ;
  text-align:center;
    margin-top:39%;
    color:white;
    font-weight: bold;
    border-radius: 1px;
}

.submitPhase1
{
  padding:11%;
  font-size:2.0em;
  font-weight:bold;
  margin-top:39%;
}

.engine
{
  top:14%;
  left:34%;
}

.style
{
  top:19%;
  left:63%;
}

.suspension
{
  top:28%;
  left:10%;
}

.wheel
{
  top:44%;
  left:13%;
}

.frame
{
  top:58%;
  left:35%;
}

.tire
{
  top:51%;
  left:79%;
}